<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="60 seconds" debug="false">
  <property name="file_path" value="."/>

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${file_path}/logs/current.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${file_path}/logs/%d{yyyy-MM-dd}.log.%i</fileNamePattern>
      <maxFileSize>100MB</maxFileSize>
      <maxHistory>3</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
    </encoder>
  </appender>


  <!-- 记录其他jar下的日志(错误日志) -->
  <root level="debug">
    <appender-ref ref="stdout"/>
    <!--<appender-ref ref="file"/>-->
  </root>
</configuration>
